@font-face {
  font-family: "Inconsolata";
  src: url("/assets/fonts/Inconsolata-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SpaceMono";
  src: url("/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
}
